* {
    margin: 0 auto;
}

body {
    width: 412px;
    height: 743px;
    position: relative;
}

.title {
    background: #FFC436;
}

.hello {
    display: flex;
}

.hello img {
    width: 90px;
    height: 80px;
    
}

.hello h1 {
    font-family: 'Inter';
    font-style: normal;
    /* font-weight: 400; */
    font-size: 20px;
    /* line-height: 121px; */

    color: #FFFFFF;

position: absolute;

left: 0px;
top: 27px;



}
.topp{
    padding-top: 7px;
    display: grid;
    gap: 8px;
}
.tit2{
    text-align: center;
    z-index: 1;
    font-family: 'Inter';
}
/* BODY */
.intt{
    width: 370px;
    border-radius: 3px;
    border-style: outset;
    border-color: #417ad1;
    
}
.first{
    display: flex;
    align-items: center;
    border-color: rgb(39, 132, 207);
    border-radius: 6px;
    border-style:outset;
    box-sizing: border-box;
    width: 400px;
    height: 115px;
}
.aaa{
    width: 50%;
}
.first button{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    text-align: center;

    color: #cacccf;
    border-radius: 3px;
    background-color: #417ad1;
}
/* footer */
.foot{
    padding-top: 5px ;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: #FFC436;
    width: 400px;
    height: 70px;
}



